<apex:page Controller="MyContractController" sidebar="false" lightningStylesheets="true">
    <apex:stylesheet value="{!$Resource.MyContract}"/>
    <apex:pageBlock >
        <apex:form >
            <!-- Begin Main List Section -->
        	<apex:pageBlockSection title="Contracts" columns="1">
                <apex:commandButton value="New" action="{!showPopupNewContract}" rerender="popupContract"/>
                <br/>
            	<apex:pageBlockTable value="{!contracts}" var="contractChoice" width="100%">
                    <apex:column headerValue="Action" >
                        <apex:commandLink value="Remove" action="{!removeContract}">
                        	<apex:param name="ContractAssociationID" value="{!contractChoice.id}" />
                        </apex:commandLink>
                    </apex:column>
                    <apex:column value="{!contractChoice.AccountID}" headerValue="Account Name"/>
                    <apex:column value="{!contractChoice.Name}" headerValue="Contract Name"/>
                    <apex:column value="{!contractChoice.contractNumber}" headerValue="ContractNumber"/>
                   	<apex:column headerValue="More Info">
                        <apex:commandLink value="View" action="{! contractDetails}" >
                           <apex:param name="associatedID" value="{!contractChoice.id}" />
                       </apex:commandLink> 
                    </apex:column>
            	</apex:pageBlockTable>
        	</apex:pageBlockSection>
            
            <!-- Begin Popup for New Contracts-->
            <apex:outputPanel id="popupContract">
                <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopupContract}"/>
                <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopupContract}">
                    <apex:pageBlockSection >
                        <apex:inputField value="{!newContract.Name}"/>
                        <br/>
                        <apex:inputField value="{!newContract.AccountID}"/>
                        <br/>
                        <apex:inputField value="{!newContract.startDate}"/>
                        <br/>
                        <apex:inputField value="{!newContract.ContractTerm}"/>
                    </apex:pageBlockSection>
                    <apex:commandButton value="Save" action="{!closePopupNewContractSave}" />
                    <apex:commandButton value="Cancel" action="{!closePopupNewContract}" rerender="popupContract" immediate="true"/>
                </apex:outputPanel>
            </apex:outputPanel> 
        </apex:form>
    </apex:pageBlock>
</apex:page>